@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    font-family: "Raleway";
}

section {
    position: relative;
}

header {
    height: 650px;
    display: flex;
    align-items: center;
}

#about,
#portfolio,
#blog,
#team,
#contact {
    padding-top: 70px;
    padding-bottom: 70px;
}

.portfolio-img {
    width: 250px;
    margin: 20px auto;
}

.card,
.team {
    margin: auto;
}

.team-pict {
    width: 250px;
    border-radius: 50%;
    padding: 15px;
}

.bg-soft-blue {
    background-color: rgb(199, 234, 255);
}

.bg-soft-red {
    background-color: rgb(255, 199, 199);
}

.copyright {
    font-size: small;
    padding: 20px;
}